

<ion-content fullscreen >
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="onCancel()" color="dark">
      <ion-icon name="ios-close-circle-outline"  ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      Back
    </ion-button>
 
    <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add" slot="start"></ion-icon>
      in
    </ion-button>
 
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove" slot="start"></ion-icon>
      out
    </ion-button>
  </ion-item>
  -->
  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide *ngFor="let image of filesArr, let i = index ">

      <ion-grid>
        <ion-row>
          <div class="swiper-zoom-container" *ngIf="image.typeProblem == nd">
            <img src="{{ image.path }}">
            <!--
                    <ion-button>test</ion-button>
            -->
          </div>
        </ion-row>
        <ion-row >
            <ion-button  color="red" fill="outline"  (click)="presentAlert(image.uuid,i)">Delete</ion-button>


<!--
          <ion-button (click)="onDelete(image.uuid)">delete</ion-button>
-->
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- <ion-slide>
        <div class="swiper-zoom-container">
          <img src="{{ img }}">
        </div>
      </ion-slide>
      <ion-slide>
          <div class="swiper-zoom-container">
            <img src="{{ img }}">
          </div>
        </ion-slide> -->
  </ion-slides>

</ion-content>
