<ion-header  >
  <ion-toolbar color="realgreen-invert">
    <ion-title color="realgreen" class="main-b-header7">Audit Detail </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   <!-- <ion-buttons slot="end">
      <ion-button (click)="onClose('side-menu/audit/tabs/tab1')">
        <ion-badge color="danger"></ion-badge>
        <ion-icon color="dark" slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar >
  <ion-toolbar color="realgreen-invert">
    <ion-searchbar color="" placeholder="Lọc danh sách " (ionFocus)="openSearchModal()" search-icon="ion-pin" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="profile-form"  *ngFor="let c of temp?.checkList">
    <ion-card class="info-card-2" >
      <ion-list>
        <ion-list-header color="white" >
          Danh sách lĩnh vực kiểm tra
        </ion-list-header>
        <ng-container *ngFor="let d of c?.field" >
        <ion-item *ngIf="d.checked" (click)="onOpenModal(c.name,d.name)">
          <ion-label color="green">
            {{d.name}}
          </ion-label>
        </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
