<ion-header>
  <ion-toolbar color="pvn">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSideMenu()">
        <ion-icon class="menu-icon"  name="md-menu" color="light" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="main-b-header7">Hệ thống số hoá tài liệu</ion-title>

  </ion-toolbar >
  <ion-toolbar color="light">
    <ion-searchbar color="" placeholder="Từ Khoá"
                   [(ngModel)]="searchTerm"
                   (ngModelChange)="filterDoc()"
                   search-icon="ion-pin" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item [hidden]="searchTerm !== '' || searchTerm !== null" *ngFor="let doc of filteredDocArrs , let i = index" (click)="viewDoc(doc.uuid)">
           {{doc.title.vi}}
  </ion-item>
  <div [hidden]="searchTerm == '' || searchTerm == null" class="row" *ngFor="let doc of filteredDocArrs , let i = index">
    <div class="col-2">{{doc.nd}}</div>
    <div class="col-4">
      <ul>
        <li (click)="viewDoc(doc.uuid)">{{doc.title.vi}}</li>
        <ul>
          <li *ngFor="let k of doc.keyWord">{{k.text}}</li>
        </ul>
      </ul>
    </div>
    <div class="col-2">{{doc.tags.join(',')}}</div>
  </div>
</ion-content>
