<ion-header no-border>
    <ion-toolbar color="">
        <ion-buttons slot="start">
            <ion-button (click)="toggleSideMenu()">
                <ion-icon class="menu-icon"  name="md-menu" color="lightgrey" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none">
        <ion-label>
            <ion-text color="bluegrey">
                <h1 class="main-header1" >Đăng nhập</h1>
            </ion-text>
        </ion-label>
    </ion-item>

    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
        <div class="login-form">
            <ion-text color="dark">

            </ion-text>
            <ion-list lines="none" class="ion-margin-top">
                <ion-item>
                    <ion-icon slot="start" color="lightgrey" name="ios-mail-outline"></ion-icon>
                    <ion-input formControlName="Username" type="email" placeholder="Tài khoản" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" color="lightgrey" name="ios-key-outline"></ion-icon>
                    <ion-input formControlName="PasswordMobile" type="password" placeholder="Mật Khẩu" ></ion-input>
                </ion-item>

            </ion-list>
            <!-- [disabled]="!credentialsForm.valid" -->



            <ion-button mode="ios" fill="clear"  color="realgreen" expand="block" type="submit"   >
                Đăng nhập
            </ion-button>

            <ion-button mode="ios" color="red" expand="block" type="button" class="ion-margin-top" (click)="logOut()">
                Logout
            </ion-button>
            <!--<ion-text color="dark">
                    <h2 text-center class="ion-margin-bottom main-header8">
                        By clicking Sign up you agree to the following Terms ans Conditions without reservation
                    </h2>
                </ion-text>-->
        </div>
    </form>
</ion-content>